<h1>a ruby tarot card reader</h1>
<p>pick a random card: <a href="/one-card">/one-card</a></p>
<p>pick three cards: <a href="/three-cards">/three-cards</a></p>
<p>list all cards: <a href="/all-cards">/all-cards</a></p>
<p>source code: <a href="https://github.com/jeremytarling/ruby-tarot">https://github.com/jeremytarling/ruby-tarot</a></p>

